<link rel="stylesheet" type="text/css" href="../css/user.css">
<script>
    const userId = {{#if user}}{{user.id}}{{else}}null{{/if}};
    const viewingUserId = {{viewingUser.id}};
</script>
<script src="../js/profile.js"></script>

<div class="username">
    <h1>{{viewingUser.username}}</h1>
</div>
<div class="userDetails">
    <img src="../avatar/{{viewingUser.avatar}}" alt="{{viewingUser.username}} user avatar">
    {{!--The above if for referencing - indication to which fetch address will be used --}}
    <div class="description">
        <h4>{{viewingUser.fname}} {{viewingUser.lname}}</h4>
    </div>
    <div class="description">
        <h4>Contact me: </h4>
        <p>{{viewingUser.email}}</p>
    </div>
    <div class="description">
        <h4>Birth date:</h4>
        <p>{{viewingUser.birth_date}}</p>
    </div>
    <div class="description">
        <h4>About me</h4>
        <p>{{viewingUser.description}}</p>
    </div>

</div>

<div class="summaryStats">
    <div class="followersCount">
        <i class="fa-solid fa-user"></i>
        <p>Total followers: <span>{{followerCount}}</span></p>
    </div>
    <div class="likeCount">
        <i class="fa-solid fa-heart"></i>
        <p>Total likes: <span>{{likeCount}}</span></p>
    </div>
    <div class="commentCount">
        <i class="fa-solid fa-comment"></i>
        <p>Total comments: <span>{{commentCount}}</span></p>
    </div>
</div>

<div class="articles">
    <h2>Top 3 Popular Articles </h2>
    <div class="top3"> </div>
    <h2>Published Articles</h2>
    <div class="articleContents"></div>
</div>

<div class="mainContent">

</div>