
<div class="username">
    <h1>{{viewingUser.username}}</h1>
</div>
<div class="userDetails">
    <img src="../avatar/{{viewingUser.avatar}}.jpg" alt="{{viewingUser.username}} user avatar">
    <span id="userId" hidden>{{viewingUser.id}}</span>
    {{!--The above if for referencing - indication to which fetch address will be used --}}
    <p>{{viewingUser.fname}} {{viewingUser.lname}}</p>
    <p>Contact me: {{viewingUser.email}}</p>
    <p>Birth date: {{viewingUser.birth_date}}</p>
</div>
<div class="main">
    <h2>About me</h2>
    <p>{{viewingUser.description}}</p>
</div>
<div class="articles">
    <h2>Published Articles</h2>
    <div class="articleContents"></div>
</div>

<script src="../js/articles-fetch.js"></script>