<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="../css/general.css">

</head>

<body>
    <div class="header">
        
        
        <div class="nav">
            <div class="navHome">
                <img src="" alt="Website logo" id="imgLogo">
                <a href="../">Home</a>
            </div>

            <div class="authDiv">
                {{#if user}}
                <a href="../createNewArticle">Create new article</a>
                <a href="../profile">
                    <img src="../avatar/{{user.avatar}}.jpg" alt="User avatar" id="imgNav">
                    <span>{{user.username}}</span>
                </a>
                <a href="../logout">Log out</a>
                {{else}}
                <a href="../login">Log in</a>
                <a href="../signUp">Register</a>
                {{/if}}
            </div>
            
        </div>
            
    </div>

    {{{body}}}

    <div class="footer">
        <p><em>© 2022 [Team name], All Rights Reserved</em></p>
    </div>

</body>

</html>