<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="../js/general.js"></script>
</head>

<body>
    <div class="header">


        <div class="nav">
            <div class="navHome">
                <a href="../">Home</a>
            </div>

            <div class="authDiv">
                {{#if user}}
                <a href="../createArticle">Create new article</a>

                <div class="notificationPanel">
                    <span class="num">{{unread}}</span>
                    <i class="fa-solid fa-bell"></i>
                    <div class="notification hide">
                        {{#each notificationArray}}
                        <div class="notify readStatus{{this.is_read}}">
                            <a href="../user/{{this.evoker_id}}">
                                <img src="../avatar/{{this.avatar}}" alt="User avatar">
                            </a>
                            <div class="notifyContent">
                                <p>{{this.username}} {{this.description}}</p>
                                <p class="notifyDate">{{this.date_published}}</p>
                                
                                <form class="readForm" method="POST" action="../readNotification/{{this.id}}/{{this.evoker_id}}/{{this.receiver_id}}" style="display: none">
                                    <input name="redirect" 
                                    {{#if this.comment_id}}
                                        value="/article/{{this.article_id}} #comment{{this.comment_id}}" 
                                        {{else}} 
                                            {{#if this.article_id}}
                                            value="/article/{{this.article_id}}" 
                                            {{else}}
                                            value="/user/{{this.evoker_id}}" 
                                            {{/if}} 
                                        {{/if}} 
                                        style="display: none">
                                </form>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="userCommand">
                    <a href="../profile">
                        <img src="../avatar/{{user.avatar}}" alt="User avatar" id="imgNav">
                    </a>
                    <a href="../profile">
                        <span>{{user.username}}</span>
                    </a>

                </div>

                <a href="../logout">Log out</a>
                {{else}}
                <a href="../login">Log in</a>
                <a href="../signUp">Register</a>
                {{/if}}
            </div>

        </div>

    </div>

    {{{body}}}

    <div class="footer">
        <p><em>© 2022 [Team name], All Rights Reserved</em></p>
    </div>

</body>

</html>