<div class="container">
    {{#if toastMessage}}
    <div class="message">
        <p>{{toastMessage}}</p>
    </div>
    {{/if}}

    <div class="articleImg">
        <img src="../images/{{article.image}}" alt="Cover page image for article">
    </div>
    <h2 class="articleTitle">{{article.title}}</h2>
    <div class="authorPanel">
        <div class="cardAuthor">
            <a href="../user/{{article.author_id}}">
                <img src="../avatar/{{article.avatar}}" alt="Author avatar">
            </a>
            <div class="authorPanel">
                <a href="../user/{{article.author_id}}">
                    <p><strong>Author: {{article.username}}</strong></p>
                </a>
                <p>Date published: {{article.date_published}}</p>
                {{#if article.date_edited}}
                <p>Last edited: {{article.date_edited}}</p>
                {{/if}}
            </div>
        </div>
        <div class="otherCommands">
            {{!-- make so that if user has already liked the article the icon would change to become solid --}}

            {{!-- if #likes.value ==1 then .likeCount.innerText = "like" --}}
            <div class="likeCommand">
                <p><span id="likeCount"></span> likes</p> 
                {{#if user}}
                <form method="POST" action="../likeArticle" id="likeForm">
                    <input type="text" name="articleId" value="{{article.id}}" style="display: none">
                    <button type="submit" id="likeBtn">
                        <i id="heartIcon" class="fa-regular fa-heart"></i>
                    </button>
                </form>

                <form method="POST" action="../unlikeArticle" id="unlikeForm">
                    <input type="text" name="articleId" value="{{article.id}}" style="display: none">
                    <button type="submit" id="likeBtn">
                        <i id="heartIcon" class="fa-solid fa-heart"></i>
                    </button>
                </form>
                {{else}}
                <button type="button" id="likeBtn" disabled="true">
                        <i id="heartIcon" class="fa-regular fa-heart"></i>
                </button>
                {{/if}}
            </div>
            
            {{!-- this will be the location where an edit, delete article button can be placed --}}
        </div>
    </div>
    <div class="articleContent">
        <span id="authorId" style="display: none">{{article.author_id}}</span>
        <span id="userId" style="display: none">{{user.id}}</span>
        <span id="articleId" style="display: none">{{article.id}}</span>
        {{{article.content}}}
    </div>

</div>

<link rel="stylesheet" type="text/css" href="../css/article.css">
<script src="../js/articleView.js"></script>
{{!-- Write handlebar helper function which will take in two parameters and check if it has value equality --}}