<div class="container">
    <div class="articleImg">
        <img src="../images/{{article.image}}" alt="Cover page image for article">
    </div>
    <h2 class="articleTitle">{{article.title}}</h2>
    <div class="authorPanel">
        <div class="cardAuthor">
            <a href="../user/{{author.author_id}}">
                <img src="../avatar/{{article.avatar}}" alt="Author avatar">
            </a>
            <div class="authorPanel">
                <a href="../user/{{author.author_id}}">
                    <p><strong>Author: {{article.username}}</strong></p>
                </a>
                <p>Date published: {{article.date_published}}</p>
                {{#if article.date_edited}}
                <p>Last edited: {{article.date_edited}}</p>
                {{/if}}
            </div>
        </div>
        <div class="otherCommands">
            {{!-- make so that if user has already liked the article the icon would change to become solid --}}

            {{!-- if #likes.value ==1 then .likeCount.innerText = "like" --}}
            <p class="likeCount"><span id="likes"></span> likes</p> 
            <button class="like" disabled>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
            </button>
            {{!-- this will be the location where an edit, delete article button can be placed --}}
        </div>
    </div>
    <div class="articleContent">
        <span id="articleId" hidden>{{article.id}}</span>
        {{article.content}}
    </div>

</div>

<link rel="stylesheet" type="text/css" href="../css/article.css">
<script src="../js/articles.js"></script>
{{!-- Write handlebar helper function which will take in two parameters and check if it has value equality --}}