<link rel="stylesheet" type="text/css" href="../css/article.css">
<link rel="stylesheet" type="text/css" href="../css/comments.css">
<script src="../js/articleView.js"></script>
<script src="../js/comments.js"></script>

<div class="container">
    {{#if toastMessage}}
    <div class="message">
        <p>{{toastMessage}}</p>
    </div>
    {{/if}}

    <div class="articleImg">
        <a href="../images/{{article.image}}">
        <img src="../images/articleThumb/{{article.image}}" alt="Cover page image for article">
        </a>
    </div>
    <h2 class="articleTitle">{{article.title}}</h2>
    <div class="authorPanel">
        <div class="cardAuthor">
            <a href="../user/{{article.author_id}}">
                <img src="../avatar/{{article.avatar}}" alt="Author avatar">
            </a>
            <div class="authorPanel">
                <a href="../user/{{article.author_id}}">
                    <p><strong>Author: {{article.username}}</strong></p>
                </a>
                <p>Date published: {{article.date_published}}</p>
                {{#if article.date_edited}}
                <p>Last edited: {{article.date_edited}}</p>
                {{/if}}
            </div>
        </div>
        <div class="otherCommands">
            {{!-- make so that if user has already liked the article the icon would change to become solid --}}

            {{!-- if #likes.value ==1 then .likeCount.innerText = "like" --}}
            <div class="likeCommand">

                <p><span id="likeCount"></span> likes</p>
                {{#if user}}
                <form method="POST" action="../likeArticle" id="likeForm">
                    <input type="text" name="articleId" value="{{article.id}}" style="display: none">
                    <button type="submit" id="likeBtn">
                        <i id="heartIcon" class="fa-regular fa-heart"></i>
                    </button>
                </form>

                <form method="POST" action="../unlikeArticle" id="unlikeForm">
                    <input type="text" name="articleId" value="{{article.id}}" style="display: none">
                    <button type="submit" id="unlikeBtn">
                        <i id="heartIcon" class="fa-solid fa-heart"></i>
                    </button>
                </form>
                {{else}}
                <button type="button" id="likeBtn" disabled="true">
                    <i id="heartIcon" class="fa-regular fa-heart"></i>
                </button>
                {{/if}}
            </div>

            {{#if user}}
            <div class="subscriptionCmd">
                <form method="POST" action="../subscribe" id="subscribeForm">
                    <input type="text" name="authorId" value="{{article.author_id}}" style="display: none">
                    <input type="submit" value="Subscribe">
                </form>
                <form method="POST" action="../unsubscribe" id="unsubscribeForm">
                    <input type="text" name="authorId" value="{{article.author_id}}" style="display: none">
                    <input type="submit" value="UnSubscribe">
                </form>
            </div>
            {{/if}}
            {{!-- this will be the location where an edit, delete article button can be placed --}}
        </div>
    </div>
    <div class="articleContent">
        <span id="authorId" style="display: none">{{article.author_id}}</span>
        <span id="userId" style="display: none">{{user.id}}</span>
        <span id="articleId" style="display: none">{{article.id}}</span>
        {{{article.content}}}
    </div>

    <button type="button" id="hideBtn">Hide Comments</button>
    <div class="commentDiv">
        <div class="sectionHeader">
            <h3>Comments: </h3>

        </div>
        {{#if commentTree}}
        {{#each commentTree}}
        <div class="parentComment">
            {{> comments}}
        </div>
        {{#if this.children}}
        {{#each this.children}}
        <div class="childComment">
            {{> comments}}
        </div>
        {{#if this.children}}
        {{#each this.children}}
        <div class="grandchildComment">
            {{> comments}}
        </div>
        {{/each}}
        {{/if}}
        {{/each}}
        {{/if}}
        {{/each}}
        {{else}}
        <p>No comments yet</p>
        {{/if}}
        {{#if user}}
        <h3>Post a comment</h3>
        {{> commentForm}}
        {{/if}}
    </div>
</div>