<link rel="stylesheet" type="text/css" href="../css/forms.css">
<script src="../js/forms-verification.js"></script>

<div class="container">
    <fieldset>
        {{#if user}}
            <legend>Edit Details</legend>
            <form method="POST" action="./editDetails">
        {{else}}
            <legend>Sign Up</legend>
            <form method="POST" action="./signUp">
        {{/if}}

        <div class="userDetail">
            <label for="fname">First name: </label>
            <input type="text" name="fname" id="fname" required value="{{user.fname}}">
        </div>

        <div class="userDetail">
            <label for="lname">Last name: </label>
            <input type="text" name="lname" id="lname" required value="{{user.lname}}">
        </div>

        <div class="userDetail">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required value="{{user.username}}">
            <div class="message">
                <span id="usernameWarning"></span>
            </div>
        </div>

        {{#if user}}
        {{else}}
            <div class="userDetail">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
            </div>

            <div class="userDetail">
                <label for="verify">Re-enter password: </label>
                <input type="password" id="verify" required>
                <div class="message">
                    <span id="passwordWarning"></span>
                </div>
            </div>
        {{/if}}

        <div class="userDetail">
            <label for="birthDate">Date of Birth: </label>
            <input type="date" id="birthDate" name="birthDate" required value="{{user.birth_date}}">
        </div>

       <div class="userDetail">
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="email" required value="{{user.email}}">
        </div>

        <div class="userDetail description">
            <label for="description">About me description: <br><br></label>
            <textarea rows="4" id="description" name="description">{{user.description}}</textarea>
        </div>

        <div class="userDetail avatar">
            <label>
                <input type="radio" id="avatarOne" value="avatar-1.jpg" name="avatar" checked>
                <img src="../avatar/avatar-1.jpg" alt="Avatar one" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarTwo" value="avatar-2.jpg" name="avatar">
                <img src="../avatar/avatar-2.jpg" alt="Avatar two" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarThree" value="avatar-3.jpg" name="avatar">
                <img src="../avatar/avatar-3.jpg" alt="Avatar three" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarFour" value="avatar-4.jpg" name="avatar">
                <img src="../avatar/avatar-4.jpg" alt="Avatar four" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarFive" value="avatar-5.jpg" name="avatar">
                <img src="../avatar/avatar-5.jpg" alt="Avatar five" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarSix" value="avatar-6.jpg" name="avatar">
                <img src="../avatar/avatar-6.jpg" alt="Avatar six" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarSeven" value="avatar-7.jpg" name="avatar">
                <img src="../avatar/avatar-7.jpg" alt="Avatar seven" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarEight" value="avatar-8.jpg" name="avatar">
                <img src="../avatar/avatar-8.jpg" alt="Avatar eight" class="avatar">
            </label>
            <label>
                <input type="radio" id="avatarNine" value="avatar-9.jpg" name="avatar">
                <img src="../avatar/avatar-9.jpg" alt="Avatar nine" class="avatar">
            </label>
        </div>

        {{#if user}}
            <input type="submit" value="Confirm changes" id="submit">
            <a href="../profile"><button type="button">Cancel changes</button></a>
        {{else}}
            <input type="submit" value="Create Account" id="submit">
            <input type="reset" value="Reset">
        {{/if}}
        </form>

        {{#if user}}
        <a class="commands delete" href="../deleteAccount" class="userDeleteLink">Delete Account</a>
        {{!-- <form class="delete userFormDelete" action="./deleteAccount" method="POST">
            <input type="submit" value="Delete account">
        </form> --}}
        {{/if}}

    </fieldset>
</div>
